.landingPortfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.landingPortfolio .img-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.landingPortfolio .img-section img {
  width: 55%;
  height: 55%;
  object-fit: cover;
  border-radius: 100%;
}

.landingPortfolio .content-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.landingPortfolio .content-section p {
  font-size: 1.5rem;
}

.landingPortfolio .content-section h1 {
  font-size: 2.5rem;
}

.landingPortfolio .content-section a {
  text-decoration: none;
  color: #fff;
  background-color: #4a90e2;
  padding: 2vh 1vw;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #3587e6;
    transform: scale(1.04);
  }
  &:active {
    transform: scale(0.96);
  }
}

.landingPortfolio .content-section .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.landingPortfolio .content-section .icon:hover {
  transform: scale(1.08);
}

.landingPortfolio .content-section .icon:active {
  transform: scale(0.95);
}

.landingPortfolio .social-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1vh;
}

.landingPortfolio .social-icons .icon {
  text-decoration: none;
  background: none;
  color: #4a90e2;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.08);
    background: none;
  }
  &:active {
    transform: scale(0.95);
    background: none;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  gap: 2vh;
}
.contact .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  width: 70%; 
}
.contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  a{
    text-decoration: none;
    color: #fff;
  }
}

.contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.contact .contact-form form input,
textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #2a2a2a;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  &:focus {
    border: 1px solid #4a90e2;
  }
}

.contact .contact-form form textarea {
  resize: none;
}

.contact .contact-form form button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #4a90e2;
  color: #fff;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #3587e6;
    transform: scale(1.04);
  }
  &:active {
    transform: scale(0.96);
  }
}

@media screen and (max-width: 900px) {
    .contact .grid{
      grid-template-columns: repeat(1, 1fr);
      height: 100vh;
    }
  }

  .about {
    width: 100%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    .about-content{
      width: 100%;
      h1{
        margin: 2vh;
      }
      .education-grid{
        padding: 2vh 1vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 2vh;
        width: 100%;
        .education-card{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 1vh;
          background-color: #1a1a1a;
          border-radius: 8px;
          padding: 2vh;
          p{
            color: #919191;
          }
          h2{
            margin: 2vh;
          }
        }
      }
    }
    .skills-content{
      width: 100%;
      h1{
        margin: 2vh;
      }
      .skills-grid{
        padding: 2vh 1vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 2vh;
        width: 100%;
        .skill-card{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          gap: 1vh;
          background-color: #1a1a1a;
          border-radius: 8px;
          padding: 2vh;
          p{
            color: #919191;
          }
          h2{
            margin: 2vh;
            color: #4a90e2;
          }
        }
      }
    }
  }