.otp-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #212121;
  color: #fff;
  h1 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    input {
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: 16px;
    }
    input:focus {
      outline: none;
      border-color: #4a90e2;
    }
    input::placeholder {
      color: #111;
    }
    button {
      padding: 10px;
      background-color: #4a90e2;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      &:hover {
        background-color: #3a80c5;
      }
    }
  }
  div {
    margin-top: 20px;
    h2 {
      margin-bottom: 10px;
    }
  }
}
