.otp-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #212121;
  color: #fff;
}

.otp-app h1 {
  margin-bottom: 20px;
}
.otp-app button {
  padding: 10px 16px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.otp-app button:hover {
  background-color: #3a80c5;
}

.otp-app input {
  padding: 10px;
  border: 1px solid #919191;
  border-radius: 5px;
  font-size: 16px;
  margin: 4vh;
  width: 20%;
  background-color: #212121;
  color: #fff;
}

.otp-app input:focus {
  outline: none;
  border-color: #4a90e2;
}

.otp-app input::placeholder {
  color: #777;
}

.otp-app h2 {
  margin-top: 20px;
}

.otp-app h3 {
  margin-top: 10px;
}
